DIRECTUS_URL=http://localhost:8055
ASSETS_TRANSFORM_IMAGE_MAX_DIMENSION=10000
ASSETS_TRANSFORM_IMAGE_MAX_OUTPUT_DIMENSION: "10000"
ASSETS_TRANSFORM_MAX_OPERATIONS=10
ASSETS_TRANSFORM_TIMEOUT=30000
MAX_PAYLOAD_SIZE: "100mb"
ASSETS_TRANSFORM_IMAGE_MAX_SYSTEM_MEMORY: "2048mb"
ASSETS_INVALID_IMAGE_SENSITIVITY_LEVEL=error